<!doctype HTML>
<html lang="en">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<title>The Game</title>
	<script>
		var Content = {{data|safe}}
	</script>
	<script src="/../static/workingGame.js"></script>
	<link rel="stylesheet" href="/../static/mycss.css">
</head>
<body>
	<div id="story">
	</div>
	<input type="text" class="input" name="nameInput" id="input" onkeydown="if(enterTest(this,Content)==true){this.value=null;}">
</body>
</html>